<html>
<head>
	<title> Home Page </title>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head> 
<body>
	 <header>
	      <!-- Fixed navbar -->
	      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
	        <p class="btn btn-outline-success my-2 my-sm-0" type="submit">URL Shortner</p>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	              <a class="nav-link" href="{{ url_for('history') }}"><font color="dark">History</font><span class="sr-only">(current)</span></a>
	            </li>
	          </ul>
	          <form class="form-inline">
	          	<p class="btn btn-outline-success my-2 my-sm-0" type="submit">Welcome, {{session.username}} !</p>
	            <a href="{{ url_for('logout') }}" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</a>
	          </form>
	        </div>
	      </nav>
    </header>
    <br><br> <br><br>
	<!-- Trin URL Page -->
	<div class="container">
    <br/>
    <p style="text-align: center"> Enter the URL to shortened</p>
    <form action="{{ url_for('result') }}" method="post">
	<div class="row justify-content-center">
                        <div class="col-4 col-md-8 col-lg-5">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="url" placeholder="Enter the URL">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
    </form>
	</div>
	<br>
	<div class="container">
    <br/>
    <p style="text-align: center"> The shortened URL result is  </p>
	<div class="row justify-content-center">
                        <div class="col-4 col-md-8 col-lg-5">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" id="myInput" placeholder="Enter the URL" disabled value="{{msg}}">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" onclick="myFunction()" type="submit">copy</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
	</div>
	<!-- Copy for JS -->
	<script>
	function myFunction() {
	  var copyText = document.getElementById("myInput");
	  copyText.select();
	  copyText.setSelectionRange(0, 99999);
	  navigator.clipboard.writeText(copyText.value);
	  alert("Copied the text: " + copyText.value);
	}
	</script>
</body>
</html>