<html>
<head>
	<title> Login Page </title>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signin.css" rel="stylesheet">
</head> 
<body>
	<br><br><br><br><br>
	<p style="text-align: center;">{{ msg }}</p>
	<!-- Login Page -->
	<form action="{{ url_for('login') }}" method="post">
	  <h1 class="h3 mb-3 font-weight-normal" style="text-align:center;"><span class="iconify" data-icon="mdi:account" style="color: #0000ef;" data-width="30" data-height="30"></span>Login</h1>
	  <br>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword"  name="password" class="form-control" placeholder="Password" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br><br>
      <p style="text-align: center;" value="register"><a href="{{ url_for('register') }}"><span class="iconify" data-icon="noto-v1:registered" style="color: #0000ef;" data-width="42" data-height="42" value="register"></span>
      </a>
      </p>
	</form>

</body>
</html>